.shape-main-info-container {
    display: flex;
    align-items: center;

    .shape-play-button-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        margin-right: 12px;

        svg {
            width: 20px;
            height: 20px;
            position: relative;
            left:2px;

            path {
                fill: #000;
            }
        }

        @media only screen and (min-width: $mobile) {
            width: 100px;
            height: 100px;
            margin-right: 20px;

            svg {
                width: 55px;
                height: 55px;
                left: 4px;
            }
        }

        &.small {
            width: 40px;
            height: 40px;


            &.small {
                margin-right: 10px;
            }

            svg {
                width: 20px;
                height: 20px;
                left: 1.5px;
            }
        }

        
    }

    .shape-main-name {
        font-size: 18px;
        font-weight: 500;

        @media only screen and (min-width: $mobile) {
            font-size: 50px;
        }

        
    }

    .shape-name-container {
        font-size: 10px;

        @media only screen and (min-width: $mobile) {
            font-size: 16px;
        }

        .shape-from-name-container {
            opacity: 0.5;
            margin-top: 1px;

            .shape-from-name-divider {
                margin: 0 5px;
                opacity: 0.5;
            }

        }

        .shape-from-name {
            font-weight: 500;
        }

        &.small {
            @media only screen and (min-width: $mobile) {
                font-size: 10px;
            }
            .shape-main-name {
                font-size: 16px;
            }
        }
    }
    
}