.param-list-container {
    width: 100%;

    @media only screen and (min-width: $mobile) {
        padding: 20px;
    }

  

   
}

.field-array-container {
    margin-top: 10px;
}


.array-group-header {
    margin: 0 0 10px;
}