.chxt-button {

    button {
        display: inline-flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        cursor: pointer;
        appearance: none;
        border: 1px solid rgba(0, 0, 0, 0.1);
        outline: none;
        user-select: none;
        padding: 0px 12px;
        margin: 0px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        border-radius: 100px;
        min-height: 40px;
        min-width: 100%;
        transition: background-color 40ms ease 0s, box-shadow 40ms ease 0s;
        box-shadow: rgb(0 0 0 / 3%) 0px 1px 1px;
        background-color: rgb(255, 255, 255);
        color: $black;
        transition: all 0.5s;
        font-size: 14px;
        position: relative;

        .button-content {
            display: flex;
            flex-grow: 1;
            flex-shrink: 1;
            align-items: center;
            justify-content: center;
            transition: all 0.2s;

            &.loading {
                opacity: 0;
            }
        }

        .button-loader {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            @extend .animation-fadeIn;

            .loader-container {
                transform: scale(0.85);
                svg {
                    path {
                        stroke: #000
                    }
                }
            }

   
        }

        

        .icon-left {
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 7px;

            svg {
                width: 18px;
                height: 18px;
                fill: $black;
            }

            &.small {
                svg {
                    width: 14px;
                    height: 14px;
                
                }
            }
        }

        &:hover {
            border-color: rgba(0, 0, 0, 0.15);
            background-color: #F9F9F9;
        }

        // &:active {
        //     background: rgba(0,0,0,0.05);
        // }

        &.only-icon {
            padding: 0px 0px;

            .icon-left {
                margin-right: 0px;
            }
        }

       

       

        .button-label {
            display: flex;
            // margin-right: 5px;

            // &:last-child {
            //     margin-right: -3px;
            // }
        }


        .icon-right {
            position: relative;
            right: -5px
        }
        

        .color-display {
            width: 16px;
            height: 16px;
            margin-right: 10px;
            border-radius: 222px;

            &:last-child {
                margin-right: 0px;
            }
        }

    }

    &.primary {
        button {
            background: $purple;
            color: white;


            .loader-container {
                svg {
                    path {
                        stroke: #fff
                    }
                }
            }

            .icon-left, .icon-right {
                svg {
                    path {
                        fill: white
                    }
                }
            }
        }
    }

    &.small {
        button {
            // font-size: 16px;
            min-height: 34px;
            // color: rgba(255,255,255, 0.5);

            .button-label { 
                position: relative;
                // top: -1px;
                font-size: 13px;
                font-weight: 500;
                letter-spacing: -0.43px;
            }
        }

        .color-display {
            width: 12px;
            height: 12px;
        }

    }

    &.minimal {
        // margin-left: 5px;

       
        button {
            transition: all 0.2s;
            background: rgba(255,255,255, 0.1);
            border: none;
            box-shadow: none;
            color: $white;

            .loader-container {
                svg {
                    path {
                        stroke: #fff
                    }
                }
            }
        }

        .icon-left, .icon-right {
            svg {
                path {
                    fill: white
                }
            }
        }


        &:hover {
            button {
                background: rgba(255,255,255, 0.15);
            }
        }

        &:active {
            button {
                background: rgba(255,255,255, 0.222);
            }
        }

        
        &.small {
            button {
                font-size: 16px;
            }
        }

        &.green {
            button {
                background: rgba($green, 0.1);
                color: $green;

                &:hover {
                    background: rgba($green, 0.15); 
                }

                &:active {
                    background: rgba($green, 0.2); 
                }
    
    
    
                .loader-container {
                    svg {
                        path {
                            stroke: $green
                        }
                    }
                }
    
                .icon-left, .icon-right {
                    svg {
                        path {
                            fill: $green
                        }
                    }
                }
            }
        }

        &.purple {
            button {
                background: rgba($purple, 0.15);
                color: $purple;

                &:hover {
                    background: rgba($purple, 0.2); 
                }

                &:active {
                    background: rgba($purple, 0.25); 
                }
    
    
    
                .loader-container {
                    svg {
                        path {
                            stroke: $purple
                        }
                    }
                }
    
                .icon-left, .icon-right {
                    svg {
                        path {
                            fill: $purple
                        }
                    }
                }
            }
        }
       
    }

    &.action-list-item {
        button {
            justify-content: left;
            font-size: 14px;
            font-weight: 400;
            padding-top: 10px;
            padding-bottom: 10px;
            height: auto;
            

            .icon-left {
                margin-right: 12px;
            }
        }

        .button-label {
            position: relative;
            // top: -1px;
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        .icon-left svg {
            width: 20px;
            height: 20px;
        }

    }

    


    &.chevron-only {
        .icon-right {
            margin-left: 0;
        }
    }

    &.icon-only {
        max-width: 42px;
    }

    &.small {
        &.icon-only {
            max-width: 34px;
            min-width: 34px;
        }

        .button-loader {
            @extend .animation-fadeIn;

            .loader-container {
                transform: scale(0.7);
            }

   
        }
    }

    &.wrap {
        display: inline-block;

        button {
            padding-right: 20px;
            padding-left: 18px;

            &.only-color {
                width: 40px;
                padding-left: 0px;
                padding-right: 0px;
            }
            
        }

        &.has-left-icon {
            button {
                padding-left: 15px;
            }
        }

        &.small {
            &.has-left-icon {
                button {
                    padding-left: 10px;

                }
            }

            button {

                &.only-color {
                    width: 34px;
                    padding-left: 0px;
                    padding-right: 0px;
                }
            }
        }
    }
    
}