.collection-goback-container {
    left: 0;
    bottom: 0;
    right: 0;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;


    .collection-info-bar {
        padding: 0 15px ;
        display: flex;
        align-items: center;
        height: 40px;
        background: #222;
        border-radius: 50px;
        margin-bottom: 50px;
        cursor: pointer;
        transition: all 1s;
        user-select: none;
        cursor: pointer;

        background: rgba(15, 15, 15, 0.6);
        -webkit-backdrop-filter: blur(30px);
        backdrop-filter: blur(20px);
       

        @media only screen and (max-width: $mobile) {
            background: rgba(15, 15, 15, 0.6);
            -webkit-backdrop-filter: blur(30px);
            backdrop-filter: blur(20px);
        }

        &.icon-only {
            width: 40px;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        // &:hover {
        //     background: #222;
        // }

        &:active {
            background: #222;
        }

       

       

        .collection-info-bar-left {
            flex-grow: 1;
            flex-shrink: 1;
            font-size: 12px;
            opacity: 0.6;
            transition: all 0.2s;

            .collection-count-number {
                font-weight: 500;
                opacity: 0.6;
                
            }

            .collection-count-total {
                margin-left: 5px;
                font-weight: 300;
                opacity: 0.4;
            }
        }

        .collection-properties-button {
            // margin-left: 20px;
            opacity: 0.3;
            transition: all 0.2s;
            svg {
                width: 16px;
            }

            &.search-button {
                
                margin-right: 10px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .right-icon {
            margin-left: 10px;
        }

        &:hover {
            .collection-info-bar-left {
                opacity: 1;
            }

            .collection-properties-button {
                opacity: 1;
            }
        }

    }
}