.select-container{ 
    margin-bottom: 20px;

    .react-select__single-value {
        color: #fff
    }

    .select-title {
        font-size: 11px;
        margin-bottom: 10px;
    }

    .react-select__control {
        border: 1px solid #171717;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0) 150%);
        box-shadow: none;
        border-radius: 8px;
        font-size: 14px;
        color: #fff;
        padding: 5px 5px;
        min-height: 40px;
        cursor: pointer;
        min-height: 49px;

        &:hover {
            border: 1px solid #222;
        }
    }

    .option-icon-wrapper {
        margin-right: 5px;
    }

    .multi-option-container {
        display: flex;
    }

    .multi-option-icon-wrapper {
        display: inline-block;
        margin-right: 5px;

        svg {
            width: 12px;
        }
    }

    .react-select__menu {
        background-color: #222;
        border: 1px solid rgba(255,255,255,0.1);
        border-radius: 8px;
        font-size: 14px;
        color: #fff;
        padding: 5px 10px;
        min-height: 40px;
        z-index: 9999;

        .react-select__menu-list {
            .react-select__option {
                background: transparent;
                border-radius: 10px;
                cursor: pointer;
                margin-bottom: 5px;

                &:last-child {
                    margin-bottom: 0;
                }

                &:hover {
                    // background: rgba(255,255,255,0.1);
                }
            }

            .react-select__option--is-focused {
                // background-color: #2684ff; /* This color is just an example */
                // color: white;
                background: rgba(255,255,255,0.1);
              }

              .react-select__option--is-selected {
                background-color: $purple; /* This color is just an example */
                color: white;
              }
        }
    }

    .react-select__indicator-separator  {
        display: none;
    }

    .react-select__multi-value {
        background-color: $purple;
        border-radius: 20px;
        padding: 2px 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        color: $white;

        .react-select__multi-value__label {
            color: $white;
            padding-right: 0;
        }

        .react-select__multi-value__remove {
            border-radius: 30px;
            position: relative;
            right: -2px;
            opacity: 0.4;
            transition: all 0.2s ease-in-out;
            svg {
                path {
                    fill: white
                }
            }

            &:hover {
                opacity: 1;
                background: $purple2;

               
            }
        }
    }
}

// <div class="react-select__menu css-iouw0n-menu"><div class="react-select__menu-list css-1n6sfyn-MenuList" role="listbox" aria-multiselectable="false" id="react-select-2-listbox"><div class="react-select__option css-10wo9uf-option" aria-disabled="false" id="react-select-2-option-0" tabindex="-1" role="option">Chocolate</div><div class="react-select__option css-10wo9uf-option" aria-disabled="false" id="react-select-2-option-1" tabindex="-1" role="option">Strawberry</div><div class="react-select__option react-select__option--is-focused css-1srbc9c-option" aria-disabled="false" id="react-select-2-option-2" tabindex="-1" role="option">Vanilla</div></div></div>
