.switch-container {
    margin: 20px 0;
    display: flex;
}

.bp5-control.bp5-switch input:checked ~ .bp5-control-indicator {
    background: $purple !important;
}

.bp5-control.bp5-switch:hover input:checked ~ .bp5-control-indicator {
    background: $purple !important;
}

.bp5-control.bp5-switch:active input:checked ~ .bp5-control-indicator {
    background: $purple !important;
}