.textarea-container {
    position: relative;
    width: 100%;
    margin-bottom: 1rem;

    textarea {
        width: 100%;
        padding: 1rem;
        border: 1px solid rgba(255, 255, 255, 0.1);
        background-color: rgba(255, 255, 255, 0.05);
        border-radius: 4px;
        font-size: 1rem;
        color: $white;
        min-height: 100px;

        &:focus {
            outline: none;
            border-color: #333;
        }
    }

    label {
        display: block;
        font-size: 11px;
        margin-bottom: 10px;
        color: rgba($white, 0.3)

    }

}