.touch-viz-container {
    position: absolute;
    left: 20px;
    right: 20px;
    top: 20px;
    bottom: 20px;
    z-index: 11;
    display: grid;
    column-gap: 5px;
    row-gap: 5px;
    grid-template-columns: 1fr 1fr;

    &.full {
        top: 150px;
        bottom: 150px;
    }

    .touch-viz-button {
        background: rgba(255,255,255, 0);
        border-radius: 10px;
        align-items: center;
        justify-content: center;
        display: flex;
        transition: all 0.8s;
        cursor: pointer;

        &:active {
            background: rgba(255,255,255, 0.1);
        }
    }

}