@font-face {
    font-family: 'Aeonik';
    src: url('../../public/fonts/Aeonik-Air.woff2') format('woff2'),
        url('../../public/fonts/Aeonik-Air.woff') format('font-woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Aeonik';
    src: url('../../public/fonts/Aeonik-Thin.woff2') format('woff2'),
        url('../../public/fonts/Aeonik-Thin.woff') format('font-woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Aeonik';
    src: url('../../public/fonts/Aeonik-Light.woff2') format('woff2'),
        url('../../public/fonts/Aeonik-Light.woff') format('font-woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Aeonik';
    src: url('../../public/fonts/Aeonik-Regular.woff2') format('woff2'),
        url('../../public/fonts/Aeonik-Regular.woff') format('font-woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Aeonik';
    src: url('../../public/fonts/Aeonik-Medium.woff2') format('woff2'),
        url('../../public/fonts/Aeonik-Medium.woff') format('font-woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Aeonik';
    src: url('../../public/fonts/Aeonik-Bold.woff2') format('woff2'),
        url('../../public/fonts/Aeonik-Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Aeonik';
    src: url('../../public/fonts/Aeonik-Black.woff2') format('woff2'),
        url('../../public/fonts/Aeonik-Black.woff') format('font-woff');
    font-weight: 700;
    font-style: normal;
}
