// Responsiveness variables
$mobile: 950px;
$small: 1250px;
$regular: 1400px;
$large: 1700px;

// Elements
$headerHeight: 60px;
$navigationHeight: 90px;

// $border:1px solid rgba($black, 0.06);
$border:1px solid #121212;
$borderColor: #E6E6E6;
$territary: #626565;

$treeLine: 2px solid #EDEFEE;
$treeColor: #EDEFEE;