.profile-container {
    .profile-placeholder {
        // height: 300px;
        background-color: rgba(255, 255, 255, 0.05);
        border-radius: 20px;
        margin-bottom: 20px;
        position: relative;
        
        .profile-placeholder-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }


        .profile-email {
            margin: 20px;
        }

        .signout-container {
            margin-right: 10px;
        }


    }

    .button-container {
        li {
            margin-bottom: 20px;


            .button-container-group {
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 20px;
            }

            
        }
    }
}