.shape-view-list-container {
    // background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    height: 500px;
    position: relative;
    @media only screen and (min-width: $mobile) {
        height: 600px;
    }



    .shape-view-actions {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 2;
    }

    .shape-view-list-shape-container {
        // background: $black;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        // background: #222;
        z-index: 1;

        .shape-placeholder{
            width: 222px;
            height: 222px;
            background: $white;
            border-radius: 222px;
            opacity: 0.2;

          
        }
    }
}