.shape-view-list-container {
    // background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    height: 500px;
    position: relative;
    transition: all 1s;
    cursor: pointer;
    @media only screen and (min-width: $mobile) {
        height: 600px;
    }

    &:hover {
        border: 1px solid rgba(255, 255, 255, 0.1);
    }

    .shape-view-left {
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
    }

    .shape-approve-action {
        display: flex;
        li {
            margin-right: 10px;
        }
    }



    .shape-view-actions {
        position: absolute;
        top: 20px;
        right: 10px;
        z-index: 2;
    }

    .shape-view-list-shape-container {
        // background: $black;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        // background: #222;
        z-index: 1;

        .shape-placeholder{
            width: 180px;
            height: 180px;
            background: $white;
            border-radius: 222px;
            opacity: 0.2;
            // left: -10px;
            position: relative;
        }
    }

    .shape-view-info {
        position: absolute;
        bottom: 20px;
        left: 20px;
        z-index: 2;
    }

    .shape-view-arrow {

        position: absolute;
        bottom: 20px;
        right: 10px;
        z-index: 2;
        padding: 15px;
        // background: red;

    }
}