.test-view-list-container {
    height: 222px;
    background: rgba(255, 255, 255, 0.04);
    border-radius: 20px;
    margin-bottom: 20px;

    .test-view-list-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 10px 0 20px;

        .test-view-list-header-left {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .test-view-list-content {
        padding: 10px 0 10px 20px
    }
}