.main-player {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    z-index: 15;
    display: flex;
    align-items: center;
    justify-content: center;

    .main-player-header {
        position: fixed;
        top: 70px;
        right: 10px;
        z-index: 3;

        opacity: 0;
        @extend .animation-fadeIn;

        @media only screen and (min-width: $mobile) {
            top: 100px;
            right: 30px;
        }


    }

    .go-back-button-desktop {
        display: flex;
        li {
            margin-right: 10px;
        }
        
        @media only screen and (max-width: $mobile) {
            display: none;
        }
    }

    .go-back-button-mobile {
        @media only screen and (min-width: $mobile) {
            display: none;
        }
    }

    .main-player-left-header {
        position: absolute;
        top: 50px;
        left: 222px;
        opacity: 0;
        @extend .animation-fadeIn;
        z-index: 2;

        @media only screen and (max-width: $mobile) {
            top: 90px;
            left: 15px;
        }


    }

    .collection-info-bar-container {
        position: fixed;
        left: 0;
        bottom: 0;
        right: 0;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1000;

        .collection-info-bar-container-left {
            margin-left: 20px;
            opacity: 0;

            @media only screen and (min-width: $mobile) {
                margin-left: 30px;
            }
    
        
            @extend .animation-fadeInSlide;
           
            animation-delay: 0.2s;
        }

        .collection-info-bar-container-right {
            display: flex;
            margin-right: 20px;

            @media only screen and (min-width: $mobile) {
                margin-right: 30px;
                display: none;
            }
            

            li {
                opacity: 0;
                @extend .animation-fadeInSlide;
                margin-left: 10px;
                animation-delay: 0.25s;

                &:last-child {
                    animation-delay: 0.3s;
                }
            }
        }
    }

    .player-viz-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        @extend .animation-fadeIn;
        z-index: 1;

        .shape-placeholder {
            width: 222px;
            height: 222px;
            background: $white;
            border-radius: 500px;
            opacity: 0.2;

            @media only screen and (min-width: $mobile) {
                width: 500px;
                height: 500px;
            }
        }
    }

    .player-main-info {
        position: absolute;
        bottom: 90px;
        z-index: 2;
        left: 20px;
        opacity: 0;
        @extend .animation-fadeIn;
        animation-delay: 0.35s;

        @media only screen and (min-width: $mobile) {
            bottom: 40px;
            left: 40px;
        }
    }

    .play-main-actions {
        position: absolute;
        bottom: 95px;
        z-index: 2;
        right: 20px;
        display: flex;
        align-items: center;
        @extend .animation-fadeIn;
        animation-delay: 0.4s;

       

        li {
            padding: 5px;
            margin-left: 10px;

            @media only screen and (min-width: $mobile) {
                padding: 10px;
                margin-left: 20px;
            }
        }

        svg {
            width: 20px;
            height: 20px;

            @media only screen and (min-width: $mobile) {
                width: 40px;
                height: 40px;
            }
        }

        @media only screen and (min-width: $mobile) {
            bottom: 70px;
            right: 40px;
        }
    }
}