.main-player {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    z-index: 15;
    display: flex;
    align-items: center;
    justify-content: center;

    .main-player-header {
        
        position: fixed;
        top: 70px;
        right: 10px;

        @media only screen and (min-width: $mobile) {
            top: 100px;
            right: 30px;
        }


    }

    .go-back-button-desktop {
        @media only screen and (max-width: $mobile) {
            display: none;
        }
    }

    .go-back-button-mobile {
        @media only screen and (min-width: $mobile) {
            display: none;
        }
    }

    .main-player-left-header {
        position: absolute;
        top: 50px;
        left: 222px;
        opacity: 0;
        @extend .animation-fadeIn;

        @media only screen and (max-width: $mobile) {
            top: 90px;
            left: 15px;
        }

    }

    .collection-info-bar-container {
        position: fixed;
        left: 0;
        bottom: 0;
        right: 0;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1000;

        .collection-info-bar-container-left {
            margin-left: 20px;
            opacity: 0;

            @media only screen and (min-width: $mobile) {
                margin-left: 30px;
            }
    
        
            @extend .animation-fadeInSlide;
           
            animation-delay: 0.2s;
        }

        .collection-info-bar-container-right {
            display: flex;
            margin-right: 20px;

            @media only screen and (min-width: $mobile) {
                margin-right: 30px;
            }
            

            li {
                opacity: 0;
                @extend .animation-fadeInSlide;
                margin-left: 10px;
                animation-delay: 0.25s;

                &:last-child {
                    animation-delay: 0.3s;
                }
            }
        }
    }
}