// reset
@import "./imports/reset";

// blueprint
@import "../node_modules/@blueprintjs/core/lib/css/blueprint.css";
@import "../node_modules/@blueprintjs/core/lib/scss/variables.scss";

// imports
@import "./imports/colors";
@import "./imports/fonts_aeonik";
@import "./imports/variables";
@import "./imports/blueprint_overides";
@import "./imports/animations";
@import "./imports/buttons";
@import "./imports/select";
@import "./imports/variables";
@import "./imports/label";

// Forms
@import "../components/form/BladeInput.scss";
@import "../components/form/Select.scss";
@import "../components/form/Textarea.scss";
@import "../components/form/Slider.scss";
@import "../components/form/BlueprintCheckbox.scss";
@import "../components/form/TabSwitcher.scss";
@import "../components/form/ColorPicker.scss";
@import "../components/form/Switch.scss";

@import "../components/button/index.scss";
@import "../components/drawer/index.scss";
@import "../components/modal/index.scss";
@import "../components/menu/index.scss";
@import "../components/loader/index.scss";
@import "../components/paramSwitch/index.scss";
@import "../components/header/index.scss";
@import "../components/header_desktop/index.scss";
@import "../components/nav_links/index.scss";
@import "../components/infinite_list/index.scss";

@import "../components/collection_info/index.scss";
@import "../components/collection_go_back/index.scss";
@import "../components/label/index.scss";
@import "../components/player/index.scss";
@import "../components/sidebar/index.scss";
@import "../components/tab/index.scss";
@import "../components/collectionControls/index.scss";
@import "../components/collection_actions/index.scss";
@import "../components/shape_main_info/index.scss";
@import "../components/collection_sidebar/index.scss";
@import "../components/nft_details/index.scss";
@import "../components/param_renderer/index.scss";

// Collection reelated components
@import "../components/testActions/index.scss";

// List views
@import "../components/infinite_list/views/test_list_view.scss";
@import "../components/infinite_list/views/shape_list_view.scss";
@import "../components/infinite_list/views/algo_list_view.scss";
@import "../components/infinite_list/views/track_list_view.scss";
@import "../components/infinite_list/views/album_list_view.scss";


// Pages
@import "../pages/ui/index.scss";
@import "../pages/ui/icons/index.scss";
@import "../pages/ui/loader/index.scss";
@import "../pages/ui/popups/index.scss";
@import "../pages/index.scss";
@import "../pages/ui/infinite_list/index.scss";

@import "../pages/genesis/index.scss";
@import "../pages/genesis/algoPage.scss";
@import "../pages/genesis/algoPreview.scss";

@import "../pages/music/index.scss";


// Drawers
@import "../components/drawer/type/profile_settings.scss";
@import "../components/drawer/type/collection_settings.scss";
@import "../components/drawer/type/viz_settings.scss";





.line-hover {
  position: relative;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;

  span {
    transition: all 2s cubic-bezier(0.19, 1, .22, 1);
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    margin-top: -1px;
    background-color: $white;
    transform: translateX(-108%);
    transition: transform 1s cubic-bezier(.26, .9, .21, .94);
    transition-delay: .1s;
    z-index: 1;
    opacity: 0;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    margin-top: -1px;
    background-color: $white;
    transform: translateX(-108%);
    transition: transform 1s cubic-bezier(.26, .9, .21, .94);
    transition-delay: .1s;
    z-index: 2;
    opacity: 0;
  }

  &:hover {
    &:after {
      transform: translateX(108%);
      opacity: 1;
    }

    &:before {

      opacity: 1;
    }
  }
}


html {
  touch-action: manipulation;
}

body {
  margin: 0;
  padding: 0;
  // background: #F9F9F9;
  background: $black;
  color: $white;
  font-family: "Aeonik", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 1;
  transition: opacity 1s;


  &.no-scroll {
    overflow: hidden;
  }
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-overflow-scrolling: touch;
}

// Selection
// -------------------------

::selection {
  background: $yellow;
  color: $black;
}

::-moz-selection {
  background: $yellow;
  color: $black;
}

// Links
// -------------------------

a {
  text-decoration: none !important;
  font-weight: 400;
  color: $white;
  transition: none;

  &:hover,
  &:active {
    color: $white
  }
}



.placeholder {
  height: 3000px;
  position: relative
}